/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff7961;
  --ifm-color-primary-dark: #ff5b3e;
  --ifm-color-primary-darker: #ff4c2c;
  --ifm-color-primary-darkest: #f62500;
  --ifm-color-primary-light: #ff9784;
  --ifm-color-primary-lighter: #ffa696;
  --ifm-color-primary-lightest: #ffd3cb;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
